# Project details for PyCharm IDE
.idea

# Python cache for files generated during compilation
*.pyc
__pycache__

# Environment variable files
*.env

# Linux output files
*.out

# Local log files
*.log

# Local data files
data.json
cache
bot_logs

# Testing files
test*