# Project details for PyCharm IDE
.idea

# Python cache for files generated during compilation
*.pyc

# Environment variable files
*.env

# Linux output files
*.out

# Local data files
data.json
cache